*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* padding: 20px ; */
  background-color:#89b3d1;
  color: white;
  background-repeat: no-repeat;
}
.alphaCode{
  visibility: hidden;
}
.form-control #search{
  width: 100%;
  background-color: rgb(220, 224, 228);
  

}
#search::placeholder{
  color: rgb(199, 199, 199);
  font-style: italic;
  word-spacing: 5px;
}
.search{
  position: absolute;
}
.form-control{
  padding-top: 20px;
}

.filter .form-control input{
  background-color: #3a454d;

  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
  
  

}
.rechIcon{
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  background-color: cornflowerblue;
  padding: 8px 9px;
  border-radius: 5px;
  margin-left: 169vh;
}


.filter .form-control input::placeholder{
  color: #fff;
}
/* header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#ffffff ;
  box-shadow: 1px 1px 10px 1px rgb(51, 51, 51);
  color: black;
  padding: 10px 20px ;
}
img{
  max-width: 100%;
}.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;

}
.grid article img{
  border-radius: 5px 5px 0 0;
  /* height: 250px; */
}
.details{
  background-color:#f0f0f0 ;
  color: rgb(0, 0, 0);
  padding:40px 20px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px
}

.grid .details h3{
  padding-bottom: 10px;
}
.grid .details h4{
  padding-bottom: 5px;
}
.grid .details h4 span{
  font-weight: 300;
}
.visited-country{
  color: cornflowerblue;
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.header a{
  text-decoration: none;
}
.visited-country h3{
  font-size: 15px;
}
.world{
  display: flex;
}
.world i{
 
  font-size: 27px;
  padding-top: 10px;
}
.world h1{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
.details button{
  cursor: pointer;
  padding: 10px 10px;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
} 
@media (min-width: 640px){
.grid{
  grid-template-columns: repeat(2, 1fr);

}
}
@media (min-width:768px){
  .filter{
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .form-control{
    width: auto;
  }
  .filter .form-control input{
    width: auto;
  }
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
.filter .region-filter{
  width: auto;
}
@media (min-width:992px){
  body{
    /* padding: 50px 100px; */
  }
  .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
.header,.filter,.grid{
  padding: 20px 100px;
}



